.root {
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    position: relative;
}

.background {
    @include center();
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.shadow {
    @include center();
    width: 100%;
    height: 100%;
    z-index: 2;
    box-shadow: inset 0px 0px 100px 50px #000;
}

.wrapper {
    perspective: 1000px;
    height: 100vh;
    position: relative;
    z-index: 5;
}

.main {
    @include center();
    transform: translateZ(180px) translate(-50% -50%);
    z-index: 5;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description {
    font-size: 39px;
    line-height: 47px;
    text-shadow: 4px 4px 7px #000;
    text-align: center;
    background-image: linear-gradient(to right, #c2A686, #f0eea6, #c2A686);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    span {
        font-size: 77px;
        line-height: 47px;
        vertical-align: middle;
    }
}

.logo {
    width: 100%;
    max-width: 1248px;
    margin-bottom: -80px;
    transform: rotateX(var(--moveX)) rotateY(var(--moveY));
}

.lightSmoke {
    @include center();
    width: 100%;
    z-index: -1;
    transform: translate(-50%, -50%) rotateX(var(--moveX)) rotateY(var(--moveY)) ;
}

.leftBottomSmoke {
    position: absolute;
    width: 55%;
    transform: translateZ(100px);
    aspect-ratio: 1.33;
    left: 0;
    bottom: 0;
    z-index: 2;
    animation: 20s linear 4s decorationAnimation infinite;
}

.rightBottomSmoke {
    position: absolute;
    width: 71%;
    aspect-ratio: 1.7;
    right: 0;
    bottom: 0;
    transform: translateZ(150px);
    z-index: 2;
    animation: 20s linear 2s decorationAnimation infinite;
}

.logoSmoke {
    @include center();
    width: 60%;
    aspect-ratio: 2.77;
    z-index: 5;
    transform: translateZ(200px);
    transform: rotateX(var(--moveX)) rotateY(var(--moveY)) translate(-50%, -50%);
}

.leftTopSmoke {
    position: absolute;
    top: 0;
    left: 0;
    width: 55%;
    aspect-ratio: 1.33;
    transform: translateZ(100px);
    z-index: 2;
    animation: 20s linear 1s decorationAnimation infinite;
}

.playButton {
    position: absolute;
    bottom: 42px;
    right: 70px;
    z-index: 6;
}

.timer {
    margin-top: 40px;
}

.login {
    position: relative;
    margin-top: 40px;
}

@keyframes smokeAnimation {
    0% {
        transform: translateZ(150px) scale(1);
    }
    50% {
        transform: translateZ(200px) scale(1.4);
    }
    100% {
        transform: translateZ(150px) scale(1);
    }
}