.root {
    display: block;
    cursor: pointer;
    height: 35px;
    transition: 0.3s ease;
    transition-property: transform;

    &:hover {
        transform: scale(0.9);
    }
}

.image {
    height: 100%;
    width: auto;
}